a {
   color: #202fd4;
 }

img {
	border-radius: 50%;
	width: 50%;
	height: 50%;

}

 body {
	background-image: url(ok.jpg); 
	background-attachment: fixed;
   font-family: 'Open Sans', sans-serif;
 }
 
 body p {
	 color: #0a0a0a;
 }


 #wrapper {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;

 }

 h3 {
     margin: 0 0 1em 0;
 }


/*************************************
HEADING
**************************************/

header {
  float: left;
  margin: 0 0 20px 0;
  padding: 2px 0 0 0;
  width: 100%;

}

.center {
 text-align: center
}




 h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;

   color: #101884;

 }

 h2  {
 font-size: 1.00em;
 font-weight: normal;
 margin: -5px 0 0;
   color: #df330a;
 }


h3  {
    font-size: 1.1em;
    font-weight: 700;
    margin: 15px 0 0;
}


/*************************************
NAVIGATION
**************************************/
 


.sophia {
    max-width: 200px;
	 height: 200px;
    margin: 0 auto 30px;
    border-radius: 50%;
}

.ben {
    max-width: 200px;
	 height: 200px;
    margin: 0 auto 30px;
    border-radius: 50%;
}


.kayla_and_i {
    max-width: 200px;
	 height: 200px;
    margin: 0 auto 30px;
    border-radius: 50%;
}

/*************************************
COLORS
**************************************/




/* nav background on mobile devices*/
nav {
   background: #599a6b;
}

nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: #32673f;
}
/* site body*/
body {
    background-color: #fff;
    color: #000;
}